<nav class="navbar navbar-toggleable-md navbar-inverse  sticky-top main-header">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand offset-lg-1" href="#">LYT Systems, Inc.</a>
  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="careers">Careers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="partial-content">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="grid">
    <div class="row">
      <div class="col-md-2 offset-md-1 col-sm-3 offset-sm-3 footer-header">
        <a routerLink="about" class="footer-link ">About</a>
      </div>
      <div class="col-md-2 col-sm-5 footer-header">
        <a routerLink="contact" class="footer-link">Contact</a>
      </div>
      <div class="col-md-2 offset-md-0 col-sm-3 offset-sm-3 footer-header">
        <a routerLink="careers" class="footer-link">Careers</a>
        <ul class="footer-bullets">
          <li>
            <a routerLink="careers" class="footer-link">Benefits</a>
          </li>
          <li>
            <a routerLink="careers" class="footer-link">Openings</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-5 footer-header">
        <a routerLink="services" class="footer-link">Services</a>
        <ul class="footer-bullets">
          <li>
            <a routerLink="services" class="footer-link">Software Engineering</a>
          </li>
          <li>
            <a routerLink="services" class="footer-link">Project Management</a>
          </li>
          <li>
            <a routerLink="services" class="footer-link">Automated Testing</a>
          </li>
        </ul>
      </div>
      <div class="col-md-1 offset-md-0 col-sm-3 offset-sm-3 footer-header">
        <a routerLink="login" class="footer-link"> Login</a>
      </div>
      <div class="col-md-1 col-sm-5 footer-icon-container">
        <a href="#">
          <span class="fa fa-linkedin footer-icon"></span>
        </a>
        <a href="#">
          <span class="fa fa-twitter footer-icon"></span>
        </a>
        <a href="#">
          <span class="fa fa-facebook footer-icon"></span>
        </a>
      </div>
    </div>
  </div>
</div>