.main-header{
  background-color: #323232;
}

.header-title{
  font-size: 24px;
  color: #fff;
  line-height: 70px;
  vertical-align: middle;
  text-align: center;
}

.header-link{
  font-size: 20px;
  color: #fff;
  line-height: 70px;
  vertical-align: middle;
}

.partial-content{
  min-height: 57vh;
}

.footer{
  background-color: #F2F2F2;
  height: 150px;
  padding-top: 30px;
}



@media (min-width: 992px){
  .navbar-toggleable-md .navbar-nav .nav-link{
    padding-right: 4vw;
    padding-left: 5vw;
  }
}
