<!-- <div class="carousel-container">
  <ngb-carousel>
    <ng-template ngbSlide>
        <img class="carousel-img" src="../../assets/stock-hero-img-1.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <div class="carousel-title">Welcome to<br> LYT Systems, Inc.</div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <img class="carousel-img" src="../../assets/stock-hero-img-2.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <div class="carousel-title">Welcome to<br> LYT Systems, Inc.</div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-img" src="http://i.imgur.com/ABitI6n.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <div class="carousel-title">Welcome to<br> LYT Systems, Inc.</div>
      </div>
    </ng-template>
  </ngb-carousel>
</div> -->

<div class="banner-container">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img class="carousel-img" src="../../assets/stock-hero-img-2.jpg" alt="Random second slide">
      <div class="home-title-container">
        <div class="home-title">
          Welcome to
          <br> LYT Systems, Inc.
        </div>
        <div class="banner-text">
          Here is some sample text giving the mission statement for the company. Here is some sample text giving the mission statement
          for the company.
        </div>
        <button class="btn home-container-btn" routerLink="about">
          LEARN MORE
        </button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-img" src="http://i.imgur.com/4AEeoPP.jpg" alt="Random third slide">
      <div class="home-title-container">
        <div class="home-title">
          Welcome to
          <br> LYT Systems, Inc.
        </div>
        <div class="banner-text">
          Here is some sample text giving the mission statement for the company. Here is some sample text giving the mission statement
          for the company.
        </div>
        <button class="btn home-container-btn" routerLink="about">
          LEARN MORE
        </button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-img" src="http://i.imgur.com/Puz662h.jpg" alt="Random first slide">
      <div class="home-title-container">
        <div class="home-title">
          Welcome to
          <br> LYT Systems, Inc.
        </div>
        <div class="banner-text">
          Here is some sample text giving the mission statement for the company. Here is some sample text giving the mission statement
          for the company.
        </div>
        <button class="btn home-container-btn" routerLink="about">
          LEARN MORE
        </button>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<!-- <div class="banner-container">
  <img class="banner-img" src="../../assets/stock-hero-img-2.jpg" alt="Welcome to LYT Systems, Inc.">
  <div class="home-title-container">
    <div class="home-title">
      Welcome to
      <br> LYT Systems, Inc.
    </div>
    <div class="banner-text">
      Here is some sample text giving the mission statement for the company. Here is some sample text giving the mission statement for the company.
    </div>
    <button class="btn home-container-btn" routerLink="about">
      LEARN MORE
    </button>
  </div>
</div> -->

<div class="container card-deck-container">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top card-img-size-fit" src="../../assets/stock-hero-img-3.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Careers</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
        <p class="card-text">
          <small class="text-muted">
            <a routerLink="careers">Click here to learn more</a>
          </small>
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top card-img-size-fit" src="../../assets/stock-hero-img-1.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Services</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">
          <small class="text-muted">
            <a routerLink="services">Click here to learn more</a>
          </small>
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top card-img-size-fit" src="../../assets/stock-hero-img-5.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Contact</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer
          content than the first to show that equal height action.</p>
        <p class="card-text">
          <small class="text-muted">
            <a routerLink="contact">Click here to learn more</a>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="home-panel">
  <div class="grid">
    <div class="row">
      <div class="col-sm-12">
        <div class="banner-image-container">
          <div class="banner-image-text">
            Sample Text Paragraph. Here is a sample paragraph to show the text over the parallax component. Here is some more text. Text. Lorem Ipsum.
          </div>
          <div parallax id="banner-image" [config]="{parallaxInitVal: -100, parallaxRatio: .7}"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->