<div class="home-panel">
  <div class="grid">
    <div class="row">
      <div class="col-sm-12">
        <div class="banner-image-container">
          <div class="banner-image-text">
            Welcome to LYT Systems Inc!
          </div>
          <div parallax id="banner-image" [config]="{parallaxInitVal: -100, parallaxRatio: .7}"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container card-deck-container">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top card-img-size-fit" src="http://i.imgur.com/4AEeoPP.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top card-img-size-fit" src="http://i.imgur.com/Puz662h.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top card-img-size-fit" src="http://imgur.com/dsYJj4n.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
