<div class="banner-container">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img
        class="carousel-img"
        src="../../assets/stock-hero-img-2.jpg"
        alt="Random second slide"
      />
    </ng-template>
    <ng-template ngbSlide>
      <img
        class="carousel-img"
        src="http://i.imgur.com/4AEeoPP.jpg"
        alt="Random third slide"
      />
    </ng-template>
    <ng-template ngbSlide>
      <img
        class="carousel-img"
        src="http://i.imgur.com/Puz662h.jpg"
        alt="Random first slide"
      />
    </ng-template>
  </ngb-carousel>

  <div class="sticky-home-container">
    <div class="home-title-container">
      <div class="home-title">
        Welcome to
        <br />
        LYT Systems, Inc.
      </div>
      <div class="banner-text">
        Our company, LYT Systems, exists to make technology an asset and not a
        problem for others.
      </div>
      <button class="btn home-container-btn" routerLink="about">
        LEARN MORE
      </button>
    </div>
  </div>
</div>

<div class="container card-deck-container">
  <div class="card-deck">
    <div class="card">
      <img
        class="card-img-top card-img-size-fit"
        src="../../assets/stock-hero-img-3.jpg"
        alt="Card image cap"
      />
      <div class="card-block">
        <h4 class="card-title">Careers</h4>
        <p class="card-text">
          Working for LYT Systems provides an unique experience. If you want to
          strive to work in an organization where you can show talentand enhance
          your skills, LYT Systems is where you belong.
        </p>
        <p class="card-text">
          <small class="text-muted">
            <a routerLink="careers">Click here to learn more</a>
          </small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top card-img-size-fit"
        src="../../assets/stock-hero-img-1.jpg"
        alt="Card image cap"
      />
      <div class="card-block">
        <h4 class="card-title">Services</h4>
        <p class="card-text">
          LYT Systems builds itself on maintaining expertise in a set of
          industry tools and methodolgies.
        </p>
        <p class="card-text">
          <small class="text-muted">
            <a routerLink="services">Click here to learn more</a>
          </small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top card-img-size-fit"
        src="../../assets/stock-hero-img-5.jpg"
        alt="Card image cap"
      />
      <div class="card-block">
        <h4 class="card-title">Contact</h4>
        <p class="card-text">
          If you are going to apply for a job or even need any help or
          information, feel free by contacting us with the link below.
        </p>
        <p class="card-text">
          <small class="text-muted">
            <a routerLink="contact">Click here to learn more</a>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="home-panel">
  <div class="grid">
    <div class="row">
      <div class="col-sm-12">
        <div class="banner-image-container">
          <div class="banner-image-text">
            Sample Text Paragraph. Here is a sample paragraph to show the text over the parallax component. Here is some more text. Text. Lorem Ipsum.
          </div>
          <div parallax id="banner-image" [config]="{parallaxInitVal: -100, parallaxRatio: .7}"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->
