<div class="section-container">
    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-title">
            Contact Us
        </div>
    </div>


    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-subtitle">
            Name
        </div>
        <input class="form-control">
    </div>

    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-subtitle">
            Email
        </div>
        <input class="form-control">
    </div>

    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-subtitle">
            Subject
        </div>
        <input class="form-control">
    </div>

    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-subtitle">
            Text
        </div>
        <textarea class="form-control"></textarea>
    </div>

    <div class="col-md-8 offset-md-2 col-sm-12">
        <button class="btn contact-general-btn">Attach Resume/CSV</button>
        <button class="btn contact-general-btn send-btn" [disabled]="true">Send</button>
    </div>

</div>