<div class="section-container">
    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-title">
            Login
        </div>
    </div>

    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-subtitle">
            Email/Username
        </div>
        <input class="form-control">
    </div>

    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-subtitle">
            Password
        </div>
        <input class="form-control" type="password">
    </div>

    <div class="col-md-8 offset-md-2 col-sm-12">
        <button class="btn login-btn" [disabled]="true">Login</button>
    </div>

</div>