<div class="section-banner-container">
    <img class="section-banner-img" src="../../assets/stock-hero-img-3.jpg" alt="Welcome to LYT Systems, Inc.">
</div>


<div class="section-container">
    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-title">
            Careers
        </div>
        <div class="section-content">
          Working for LYT Systems provides an unique experience. If you want to strive to work in an organization
		  where you can show talentand enhance your skills? LYT Systems is where you belong.
        </div>
        <div class="section-subtitle">
            Benefits
        </div>
        <div class="section-content">
		<ul>
		<li>Medical Insurance – 100% company paid</li>
		<li>Dental Insurance – 100% company paid</li>
		<li>Vision Care – 100% company paid</li>
		<li>Short Term Disability </li>
		<li>Long Term Disability</li>
		<li>Life Insurance</li>
		<li>Tuition reimbursement</li>
		<li>Yearly Bonuses </li>
		<li>401k- 6% dollar to dollar match and vested immediately</li>
		<li>Paid training</li>
		<li>Yearly allowance for technical purchases</li>
		<li>Health and wellness Allowance</li>
		</ul>
						


        </div>
        <div class="section-subtitle">
            Openings
        </div>
        <div class="section-content">
		<ul>
		<li>Software developers with specializations in:</li>
        <li>AWS Cloud Computing </li>
		<li>Spring </li>
		<li>Web developer </li>
</ul>
        
   </div>
</div>
</div>