<div class="section-banner-container">
    <img class="section-banner-img" src="../../assets/stock-hero-img-3.jpg" alt="Welcome to LYT Systems, Inc.">
</div>


<div class="section-container">
    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-title">
            Careers
        </div>
        <div class="section-content">
            Here is a sample paragraph for the about page. Sample Text Paragraph. Here is a sample paragraph to show the text in the
            about section. Here is some more text. Text. Lorem Ipsum.
        </div>
        <div class="section-subtitle">
            Benefits
        </div>
        <div class="section-content">
            Here is a sample paragraph for the about page. Sample Text Paragraph. Here is a sample paragraph to show the text in the
            about section. Here is some more text. Text. Lorem Ipsum.
        </div>
        <div class="section-subtitle">
            Openings
        </div>
        <div class="section-content">
            Here is a sample paragraph for the about page. Sample Text Paragraph. Here is a sample paragraph to show the text in the
            about section. Here is some more text. Text. Lorem Ipsum.
        </div>
    </div>
</div>