<div class="section-banner-container">
    <img class="section-banner-img" src="../../assets/stock-hero-img-4.jpg" alt="Welcome to LYT Systems, Inc.">
</div>

<div class="section-container">
    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-title">
            Services
        </div>
        <div class="section-content">
           LYT Systems builds itself on maintaining expertise in a set of industry tools and methodolgies.
        </div>
        <div class="section-subtitle">
            Software Engineering
        </div>
        <div class="section-content">
           We design optimal solutions for each client by working closely with stakeholders
		   and endusers to understand the business objectives and processes.
        </div>
        <div class="section-subtitle">
            Project Management
        </div>
        <div class="section-content">
            Our project managers are well known in the world of Agile or even extreme software development which allows them to be 
			capable of leading development teams.
        </div>
        <div class="section-subtitle">
            Automated Testing
        </div>
        <div class="section-content">
           By applying agile test practices such as Test Driven Development at the beginning of the product development cycle, we 
		   are able to find out what leads to fragile and vulnerable software products.
        </div>
    </div>
</div>